html, body {
	max-height: 100%;
	margin: 5vh 3vw 5vh 3vw;
	font-family: 'BioRhyme', serif;
    font-size: 1.15em;
	background-color: var(--background);
	color: var(--text);
}

a {
	color: var(--link);
	text-decoration: none;
	padding-left: 0.5%;
	padding-right: 0.5%;
}

a:hover { 
	background-color: var(--text);
	color: var(--background);
}

span {
	display: block;
}

main {
	margin-top: 10vh;
	margin-bottom: 7vh;
	font-size: 1.1em;
}

#title {
	padding-bottom: 0;
	font-size: 2.5em;
}

.fa-palette {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
	font-size: 1.3em;
}

.fa-palette:hover {
    color: var(--link);
    cursor: pointer;
}
